.close {
    color: #0000006e;
    cursor: pointer;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    left: 25px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.cart-section{
  display: flex;
  justify-content:center;
  align-items: flex-start;
}  

.cart-product-section{
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.item-cart{
    width: 100%;
    height: 410px;
    margin-top: 15px;
    border-radius: 15px;
    border: 0;
    box-sizing: border-box;
    position: relative;
    box-shadow: -2px -2px 22px -1px rgba(0, 0, 0, 0.43);
}