.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .closeTd {
    color: #0000006e;
    cursor: pointer;
    font-size: 45px;
    font-weight: bold;
  }
  
  .closeTd:hover,
  .closeTd:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }